#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Battery {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Signal_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Signal_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Time {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_32 {
  -ms-transform: rotate(330.0deg);
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_33 {
  -ms-transform: rotate(302.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}