#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Battery {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Signal_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Signal_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_32 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8660254037844384,M12=0.5000000000000004,M21=-0.5000000000000004,M22=0.8660254037844384);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.8660254037844384,M12=0.5000000000000004,M21=-0.5000000000000004,M22=0.8660254037844384);
  margin-left: -5px;
  margin-top: -5px;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df #s-Image_33 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.5299192642332047,M12=0.8480480961564261,M21=-0.8480480961564261,M22=0.5299192642332047);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.5299192642332047,M12=0.8480480961564261,M21=-0.8480480961564261,M22=0.5299192642332047);
  margin-left: -5px;
  margin-top: -5px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8a377bde-fd6b-4653-bf98-78cbc99a38df > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}